:root {
	/**
    * Brand colors
   */
	--power-purple: #755afa;
	--bluuberry: #1c0dbe;
	--razzleberry: #e91e63;
	--ever-so-green: #008573;
	/**
    * Typography colors
   */
	--text-dark: #110d26;

	/**
    * Decorative colors
   */
	--primitive-outline: #110d2680;
	--btn-secondary-outline: #716b8a;
	--focus-outline-primary: rgba(129, 102, 255, 0.25);

	/**
    * Background colors
   */
	--background: #fcfcfc;
}
