:root {
	/**
    * Brand colors
   */
	--power-purple: #755afa;
	--gurple: #787487;
	--gurple-lite: #e7e6e9;
	--bluuberry: #1c0dbe;
	--goldenrod: #f2b818;
	--razzleberry: #e91e63;
	--ever-so-green: #008573;
	/**
    * Color aliases
   */
	--primary: var(--power-purple);
	--secondary: var(--gurple-lite);
	--warning: var(--goldenrod);
	--danger: var(--razzleberry);
	--success: var(--ever-so-green);

	/**
    * Typography colors
   */
	--text-primary: #110d26;
	--text-link: var(--bluuberry);

	/**
    * Decorative colors
   */
	--primitive-outline: #110d2680;
	--btn-secondary-outline: #716b8a;
	--focus-outline-primary: rgba(129, 102, 255, 0.25);

	/**
    * Background colors
   */
	--background-primary: #fcfcfc;
	--background-secondary: #f3f2f5;
}
