:root {
	/**
    * Brand colors
   */
	--power-purple: #755afa;
	--more-powerful-purple: #4829f8;
	--moody-purple: #110d26;
	--gurple: #787487;
	--gurple-lite: #f1f0f5;
	--bluuberry: #1c0dbe;
	--goldoleum: #f2b818;
	--razzleberry: #e91e63;
	--razzleberry-lite: #fceff3;
	--ever-so-green: #008573;
	/**
    * Color aliases
   */
	--primary: var(--power-purple);
	--secondary: var(--gurple-lite);
	--warning: var(--goldoleum);
	--danger: var(--razzleberry);
	--success: var(--ever-so-green);

	/**
    * Typography colors
   */
	--text-primary: var(--moody-purple);
	--text-link: var(--bluuberry);
	--danger-text: #b90010;

	/**
    * Decorative colors
   */
	--primitive-outline: #110d2680;
	--border-common: #110d2625;
	--btn-secondary-outline: #716b8a;
	--focus-outline-primary: rgba(129, 102, 255, 0.25);
	--ghost-hover: color-mix(in srgb, var(--gurple-lite) 20%, var(--gurple) 20%);
	--focus-shadow-primary: 0px 0px 0px 2px #fff, 0px 0px 0px 4px rgba(88, 52, 255, 0.6);

	/**
    * Background colors
   */
	--background-primary: #fcfcfc;
	--background-secondary: #f3f2f5;
}
