@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('/fonts/PlusJakartaSansJourney-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('/fonts/PlusJakartaSansJourney-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
