@import url('./colors.scss');
@import url('./fonts.scss');
@import url('./utils.scss');

body,
input,
button,
textarea,
select {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: var(--text-sm);
}

body {
	color: var(--text-primary);
	margin: 0;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

a {
	color: var(--text-link);
	&:focus-visible {
		outline-color: var(--primary);
	}
}

ul {
	margin: 0;
	padding-inline-start: 0;
}
li {
	list-style: none;
}

.header-sm {
	margin: 0;
	padding: var(--spacing-md) 0;
	font-size: var(--text-md);
}

.border-bot {
	border-bottom: 1px solid var(--border-common);
}

p {
	margin: 0;
}
