@import url('./colors.scss');
@import url('./fonts.scss');

body {
	font-family: 'Plus Jakarta Sans', sans-serif; // TODO: add font to public folder
	color: var(--text-dark);
	margin: 0;
}

a {
	color: var(--bluuberry);
	&:focus-visible {
		outline-color: var(--power-purple);
	}
}
