@import url('./colors.scss');
@import url('./fonts.scss');
@import url('./utils.scss');

body {
	font-family: 'Plus Jakarta Sans', sans-serif; // TODO: add font to public folder
	color: var(--text-primary);
	margin: 0;
	background: var(--background);
}

a {
	color: var(--text-link);
	&:focus-visible {
		outline-color: var(--primary);
	}
}
